footer {
  background-color: #0e204c;
  color: #fff;
  margin-top: 100px;
  height: 50vh;
  padding-bottom: 100px;
}

footer p {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer h4 {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 200px;
}

.socialMedia img {
  width: 50px;
}
