@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mukta&family=Noto+Sans+Display:ital,wght@1,400;1,500&display=swap');

.Home-div1 {
  background-color: #0e204c;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Home-div1 a {
  color: #fff;
}

.Home-div1-part1 {
  padding: 40px 20px 0 40px;
}

.Home-div1-part2 {
  padding: 350px 0 0 40px;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

h1 {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.whoPara {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.023%;
  letter-spacing: -0.154px;
  text-transform: capitalize;
}

.Home-ContacInfo {
  display: flex;
  padding: 10px;
  align-items: center;
  align-self: stretch;
  color: #3d4160;
}

.arrowDown {
  width: fit-content;
  height: 16px;
}

.para {
  display: flex;
  align-items: center;
}

.person1 span,
h2 {
  position: relative;
  margin: 30px;
}

.Our-Story {
  background-color: rgba(61, 65, 96, 0.03);
}

.Our-Story h2 {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 120.7%; /* 63.971px */
}

.Our-Story img {
  margin-left: 20px;
  width: 90%;
}

.Our-Story h3 {
  color: #3d4160;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 20px;
}

.Our-Story p {
  color: var(--text-light, rgba(61, 65, 96, 0.6));
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.readButton {
  margin: 30px 0 30px 20px;
  padding-bottom: 40px;
  border: none;
  background-color: transparent;
  margin-left: 150px;
}

.readButton img {
  width: 20px;
  height: 10px;
  padding: 0;
  margin: 0;
}

.Our-People {
  margin: 50px 0 20px 20px;
}

.Our-People h3 {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.Our-People p {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 90%;
  margin-bottom: 30px;
}

.NavbarContainer {
  display: none;
}

.navContainer {
  background-color: #0e204c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-family: 'Noto Sans', sans-serif;
}

.leftNav a {
  text-decoration: none;
  color: #fff;
}

.leftNav,
.rightNav {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 1.5rem;
  margin-right: 40px;
}

.navbar-links,
.rightNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  align-content: center;
}

.navbar-links li,
.rightNav li {
  margin-right: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.rightNav {
  justify-content: flex-end;
}

.rightNav img {
  margin-left: 10px;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.part1Story {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftPart1 {
  width: 70%;
  margin-top: 150px;
}

.leftPart1 img {
  width: 80%;
}

.rightPart1 {
  width: 70%;
  padding-top: 20px;
}

.rightPart1 img {
  width: 80%;
  margin-left: 100px;
}

.Our-People img {
  width: 100%;
  margin-right: 20px;
}

.person1 {
  margin-left: 40px;
  width: 70%;
}

.person1 img {
  width: 30px;
  position: relative;
  top: 700px;
}

.person1 span {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  text-align: justify;
  top: 700px;
}

.personImgs {
  display: flex;
  align-items: center;
}

.person {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#PerImg1,
#PerImg2,
#PerImg {
  width: 100%;
}

#PerImg1 {
  width: 19%;
}

#PerImg2 {
  height: 400px;
  width: 50%;
}

@media (max-width: 768px) {
  .NavbarContainer {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .SearchAndHamburger {
    margin-left: 140%;
  }

  .navbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .SearchAndHamburger {
    margin-left: 230%;
  }

  .navbar {
    display: none;
  }
}
