@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mukta&family=Noto+Sans+Display:ital,wght@1,400;1,500&display=swap');


.Home-div1 {
  color: #fff; 
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; 
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 18, 61, 0.75); 
  z-index: -1;
}

header {
  background-image: url(../images/homeBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* Add relative positioning */
  z-index: -2;
}


.Home-div1 a {
  color: #fff;
}

.Home-div1-part1 {
  padding: 3.12rem 6.25rem ;
  
}

.Home-div1-part2 {
  padding: 19.44rem 0 6.25rem 6.25rem ;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
}

h1 {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.whoPara {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.023%;
  letter-spacing: -0.154px;
  text-transform: capitalize;
}

.Home-ContacInfo {
  display: flex;
  justify-content: space-between; /* Create spacing between elements */
  align-items: center;
  padding: 0 6.25rem ;
  height: 4.38rem;
}

.para {
  display: none;
}

.Home-ContacInfo img {
  width: 9.375rem;
}

.Home-ContacInfo ul {
  display: flex;
}

.Home-ContacInfo li {
  margin-left: 1.25rem;
  color: #3D4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.Home-ContacInfo a {
  text-decoration: none;
}

.person1 span {
  position: relative;
  margin: 30px;
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Our-Story {
  background-color: rgba(61, 65, 96, 0.03);
  padding: 6.25rem;
}

.Our-Story h2 {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: 120.7%;
  margin-bottom: 7.16rem;
}

.Our-Story h3 {
  color: #3d4160;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.25rem;
}

.Our-Story p {
  color: var(--text-light, rgba(61, 65, 96, 0.6));
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.readButton {
  margin: 30px 0 30px 20px;
  padding-bottom: 40px;
  border: none;
  background-color: transparent;
  margin-left: 150px;
}

.readButton img {
  width: 20px;
  height: 10px;
  padding: 0;
  margin: 0;
}
.Our-People {
  padding: 6.25rem;
}

.Our-People h3 {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 1.25rem;
 
}

.Our-People p {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 90%;
 margin-bottom: 3.12rem;
  font-size: 30px;

}

.NavbarContainer {
  display: none;
}

.navContainer {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid  #fff;
  border-width: 0.25px;
  font-family: 'Noto Sans', sans-serif;
  padding: 1.25rem 3.12rem ;
}

.leftNav a {
  text-decoration: none;
  color: #fff;
}

.leftNav,
.rightNav {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 1.5rem;
  margin-right: 40px;
}

.navbar-links,
.rightNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  align-content: center;
}

.navbar-links li,
.rightNav li {
  margin-left: 0.62rem;
  color: #fff;
  display: flex;
  align-items: center;
}

.rightNav {
  justify-content: flex-end;
}

.rightNav img {
  margin-left: 1.88rem;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.Story {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Story p {
  margin-left: 0;
  color: rgba(61, 65, 96, 0.6);
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

.Story img {
  width: 40rem;
    height: 40rem;


}

.st1{
  margin: 0 0 6.25rem 0;
}
.st2 img {
  margin-right: 6.25rem;
}
.imgLeft {
  margin-right: 8rem;
}
.imgRight {
  margin-left: 12.5rem;
}

.Our-People img {
  width: 100%;
  margin-right: 2.5rem;
}

.person1 {
  margin-left: 40px;
  width: 70%;
}

.person1 img {
  width: 30px;
  position: relative;
  top: 700px;
}

.person1 span {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 40px;
  text-align: justify;
  top: 700px;
}

.personImgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 70px;
}

.person2,
.person1,
.person3 {
  flex: 1; /* Make each image take an equal amount of space */
  display: flex;
  justify-content: center;
}

#PerImg2 {
  max-width: 40%; /* Adjust the size of the middle image */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  .NavbarContainer {
    background-color: #0e204c;
    color: #fff;
    padding: 1.5rem 1rem;
    box-shadow: 0 5px 4px #343e5f;
    display: flex;
    justify-content: space-between;
  }

  .LogoContainer h3 {
    color: #fff;
  }

  .SearchAndHamburger {
    display: flex;
    position: absolute;
    right: 30px;
  }

  .hamburger-button {
    background-color: transparent;
    border: none;
  }

  .LogoContainer {
    display: flex;
    align-items: center;
  }

  .navbar {
    display: none;
  }

  .para {
    display: flex;
    color: #3d4160;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: 20px;
  }

  .Home-ContacInfo ul {
    display: none;
  }

  .arrowDown {
    font-size: 10px;
    height: 20px;
    position: absolute;
    left: 35px;
  }

  .Story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.25rem;
  }


  .personImgs {
    display: flex;
    flex-direction: column;
  }

  .personImgs img {
    width: 100vw;
    margin: 20px;
  }

  #PerImg2 {
    max-width: 140%;
  }



  .Home-div1-part2 p {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 1.62rem;
  }

  h1 {
    font-size: 40px;
  }

  .Our-Story h2 {
    font-size: 40px;
    margin-bottom: 0;
  }

  .Our-Story p {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: none;
  }
}
