.flexContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.12rem;
  
  padding: 6.25rem;
  padding-top: 0;
  place-self: center;
}

.OurValues {
  justify-content: center;
  padding: 6.25rem;
  padding-bottom: 3.12rem;
}

.ourValuesImg {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ourValuesImg img {
  width: 100%;
  height: auto;
  display: block;
}

.ValuesHeader {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
 margin-bottom: 3.5rem;
}

.ValuesPara {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
width: 100%;
}

.flexContainer h4 {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 1.19rem 0;
}

.flexContainer p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 31px;
  text-align: justify;
}

@media (max-width: 768px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
  }

  .flexContainer p {
    width: 100%;
    color: #3d4160;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 23.609px;
  }

  .flexContainer img {
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
  }
}
