.NavbarContainer {
  background-color: #0e204c;
  color: #fff;
  padding: 1.5rem 1rem;
  box-shadow: 0 5px 4px #343e5f;
}

.NavbarContainer ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.LogoContainer {
  display: flex;
  gap: 0.6rem;
}

.SearchAndHamburger {
  display: flex;
  gap: 2.5rem;
}

.hamburger-button {
  background-color: transparent;
  border: none;
}
