.diversity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
}

.diversityImgs {
  display: flex;
  justify-content: center;
}

.diversityImgs img {
  width: 90%;
  padding: 20px;
  height: 50%;
}

.diversity p {
  width: 70%;
  padding: 0;
}

h4 {
  width: 70%;
}

.authors {
  margin-top: 100px;
  padding: 20px;
}

.authors h3 {
  color: #3d4160;
  margin-bottom: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 20px;
}

.authors p {
  color: #3d4160;
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 20px;
  height: 70vh;
}

.imageContainer img {

}

.weDo img {
  width: 20%;
}

.diversity h2 {
  width: 400px;
  margin-right: 50px;
  padding-left: auto;
  color: var(--text-dark, #3d4160);
  font-family: Noto Sans;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.diversity p {
  width: 70%;
  margin-right: 30px;
}

.weDo {
  color: #3d4160;
  font-family: 'Noto Sans', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 40px;
  margin-top: 150px;
}

.imageGroup {
  display: flex;
  margin: 20px auto;
}

.largeImage {
  width: fit-content;
  height: fit-content;
  flex-grow: 1;
}

.stackedImages {
  width: 50%;
  display: flex;
  flex: 1.78;
  flex-direction: column;
  align-items: flex-start; /* Align images at the left */
}

.stackedImages img {
  width: 100%; /* Occupy full width of the container */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  .diversity {
    display: flex;
    flex-direction: column;
  }

  .diversityImgs {
    display: flex;
    flex-direction: column;
  }

  .diversityImgs h4 {
    font-size: 14px;
  }

  .diversityImgs p {
    font-size: 12px;
  }

  .imageContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    width: 100vh;
  }

  .imageGroup {
    display: flex;
    flex-direction: column;
  }

  .diversity p {
    width: 90%;
    font-size: 14px;
  }

  .diversityImgs p {
    width: 100%;
  }

  .diversity h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .imageContainer img {
    width: 90%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
